.container-home {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url('https://images.unsplash.com/photo-1620120966883-d977b57a96ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80');
  background-size: cover;
  overflow-y: scroll;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container-home::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.container-page-home {
  width: 100%;
  padding-top: 15vh;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
  display: flex;
  justify-content: center;
}

.container-right-part {
  width: 90vw;
  margin: 5% 0;
  // margin-left: 5vw;
}

.home-posts-cards {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}


.home-posts-cards::-webkit-scrollbar {
  display: none;
}

.card-post-bg {
  flex-direction: column;
  padding: 2vw;
  background-color: rgba(68, 54, 67, 0.5);
  border-radius: 20px;
  margin: 5vh 0;
  width: 100%;
}

.container-form-post {
  color: white;
  width: 100%;
  margin: 0;
}

.post-card-music {
  display: flex;
  flex-direction: column;
  width: 100%;

  a{
    text-decoration: none;
  }

  i {
    color: grey;
  }
}

#publication_spotify_url {
  display: none;
}
