.container-login {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.34),rgba(0,0,0,0.34)), url('https://images.unsplash.com/photo-1620120966883-d977b57a96ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-page-login {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba($pourpre, 0.6);
  border-radius: 20px;
  padding: 2vw;
  backdrop-filter: blur(8px);
  height: fit-content;

  h1 {
    font-size: 5rem;
    font-weight: 700;
  }

  p {
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 5%;
  }

  .btn-sign-in-spotify {
    text-decoration: none;
    color: white;
    background: $yellow;
    border-radius: 10px;
    border: 2px solid $yellow;
    font-weight: 700;
    padding: 2vh 5vh;
    font-size: x-large;
    width: fit-content;

    &:hover {
      background: transparent;
      color: $yellow;
    }
  }
}
