.home-results {
  background-color: $pourpre;
  color: white;
  list-style: none;
  height: 20vh;
  overflow-y: scroll;
  z-index: 99;
  position: absolute;
  border-radius: 10px;
  left: 0;
}

.card-result {
  background-color: rgba($color: white, $alpha: 0.05);
  padding: 2%;
  border-bottom: 1px solid black;
  transition: ease 300ms;

  img {
    width: 8%;
    margin-right: 2%;
  }

  &:hover {
    transform: scaleY(1.02) scaleX(1.01);
    background-color: rgba($pourpre, 0.7);
    cursor: pointer;
  }
}
