.results {
  color: white;
  list-style: none;
}

.card-result-search {
  background-color: rgba(68, 54, 67, 0.5);
  padding: 2vw;
  margin: 2vw 0;
  width: 100%;
  border-radius: 20px;
}

.home-results {
  background: white;
  color: black;
  list-style: none;
  width: 42vw;
  height: 30vh;
  overflow-y: scroll;
  z-index: 99;
  position: absolute;
  border-radius: 15px;
}

.card-result {
  padding: 2%;
  border-bottom: 1px solid black;
  transition: ease 300ms;

  img {
    width: 8%;
    margin-right: 2%;
  }

  &:hover {
    transform: scaleY(1.02) scaleX(1.01);
    background-color: rgb(214, 214, 214);
    cursor: pointer;
  }
}
