<h1>Search page</h1>

<%= form_tag playlist_users_path, method: :get do %>
  <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: "Find a buddy"
  %>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
