<div class="fix-items">
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="siderbar-menu">
        <ul>
          <li>Playlist</li>
          <li>Discover</li>
          <li>Shake It Up</li>
          <li>Search</li>
        </ul>
      </div>
      <div class="sidebar-player">
        Player
      </div>
    </div>
  </div>
  <div class="fix-item-avatar">
    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <img class="avatar-fix dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="/playlists">Playlists</a>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link nav-login login-button" %>
    <% end %>
  </div>
</div>
