<!-- Button trigger modal -->
<i class="fas fa-plus" data-toggle="modal" data-target="#exampleModal"></i>
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:black">Playlists</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <% current_user.playlists.each do |p| %>
            <%= link_to p.name, playlist_playlist_songs_path(p.id, track_id: track_id), method: :post %>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
