<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% raise %>
<div class="content-home">
  <div class="content-feed">
     <div class="content-cards">
      <div class="post-card">
        <div class="post-card-photo"></div>
        <div class="post-card-right">
          <div class="post-card-right-header">
            <h2>Song title</h2>
            <p>Artist</p>
            <p>Nickname</p>
            <img src="avatar" alt="avatar">
          </div>
          <div class="post-card-right-content">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing
            lit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="post-card-right-footer">
            <ul>
              <li>like</li>
              <li>comment</li>
              <li>share</li>
            </ul>
          </div>
        </div>
      </div>
     </div>
  </div>
  <div class="content-post">
    <div>form</div>
    <div>
      <i>
        icone post
      </i>
    </div>
  </div>

  <button id="togglePlay">Toggle Play</button>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = '[My access token]';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function() {
              player.togglePlay();
            };

            player.connect();
        }
    </script>
</div>
