<div class="container-login">
  <div class="container-page-login">
    <div class='text-center'>
      <h2>Welcome to</h2>
      <h1>Melov</h1>
    </div>
    <br>
    <p>
      <strong>Your new favorite music social network !</strong>
      <br>
      <br> <strong>Share</strong> your latest musical discoveries with your
      <br> friends, <strong>follow</strong> your favorite personalities, and with
      <br> the <strong>Shaker</strong>, create <strong>unique playlists by matching
      <br> your tastes with those of your friends</strong>
    </p>
    <br>
    <%= link_to user_spotify_omniauth_authorize_path, method: :post, class: 'btn-sign-in-spotify' do %>
      <h2>Connect your Spotify <i class="fab fa-spotify"></i></h2>
    <% end %>
    <br>
  </div>
</div>
