.avatar-fix {
  width: 6vh;
  height: 6vh;
  object-fit: cover;
  border-radius: 50%;
  transition: ease 300ms;

  &:hover {
    cursor: pointer;
    border: 5px solid $yellow;
  }
}

.avatar {
  width: 10vh;
  height: 10vh;
  object-fit: cover;
  border-radius: 50%;
}
