.avatar {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

.avatar-fix {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  position: fixed;
  right: 5vw;
  top: 5vh;
  z-index: 10;
  transition: ease 300ms;

  &:hover {
    cursor: pointer;
    border: 5px solid #F9B63A;
  }

  &::after {
    display: none;
  }
}

.login-button {
  position: fixed;
  right: 5vw;
  top: 5vh;
  z-index: 10;

  color: #20242C;
  background: #F9B63A;
  border-radius: 10px;
  border: 2px solid #F9B63A;
  font-weight: 700;

  &:hover {
    background: transparent;
    color: #F9B63A;
  }
}
