.avatar-fix {
  width: 6vh;
  height: 6vh;
  object-fit: cover;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    border: 3px solid $yellow;
    transform: scale(1.2);
  }
}

.avatar {
  width: 10vh;
  height: 10vh;
  object-fit: cover;
  border-radius: 50%;
}
