
.content-home {
  background-color: #354D5B;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
}

.content-feed {
  margin: 20px;
}

.content-cards {
  margin-bottom: 20px;
}

.post-card {
  width: 100%;
  max-height: 200px;
  background-color: beige;
  border-radius: 10px;
  display: flex;
}

.post-card-photo {
  width: 200px;
  height: 200px;
}

.post-card-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.post-card-right-header{
  display: flex;
  max-width: 100%;
  max-height: 60px;
  position: relative;
}

.post-card-right-header h2{
  font-size: 15x;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.post-card-right-header p{
  font-size: 10px;
  padding: 5px;
}

.post-card-right-header-user-details {
  width: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.post-card-right-header-user {
  display: flex;
  position: absolute;
top: 0px; right: 00px;
}


.post-card-right-header-song {
  display: inline;
  text-align: left;
}

.post-card-right-header-song p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}



.post-card-right-content {
  width: 600px;
  max-height: 100%;
  display: flex;
  background-color: yellow;
  flex-grow: 1;
  text-align: justify;
}

.post-card-right-content p{
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 10px;
}


.post-card-right-footer {
  max-height: 50px;

}

.post-card-right-footer ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;

}

.post-card-right-footer ul li {
  padding: 10px;
}

.content-post {
  display: flex;
  background-color: bisque;
  border-radius: 10px;
  padding: 10px;
}

p {
  margin: 0 auto;
  padding: 0 auto;
}
