.submit-form{
  flex: 4 1 auto;
  width: 70%;
  margin-right: 2%;
}

.submit-button{
  flex: 1 1 auto;
  .button-form{
    position: relative;
    top:32px;
    left:20px;
    color: #20242C;
    background: #F9B63A;
    border-radius: 10px;
    border: 2px solid #F9B63A;
    font-weight: 700;
    padding:25%;

    &:hover {
      background: transparent;
      color: #F9B63A;
    }
  }
}

.container-form-post-feed {
  color: white;
  display: flex;
  width: 83%;
  margin: 0;
  border:solid;
  border-color:#F9B63A;
  opacity: 0.85;
  border-radius: 25px;
  padding: 1em 1em 0 1em;
  border-style: groove;
}

.container-form-post-search{
  border: 2px solid #F9B63A;
  border-radius: 25px;
  padding:16px;
  border-style: groove;
  display: flex;
  align-items: center;
  opacity: 0.85;
  width: 60%;
}

.container-search{
  justify-content:center;
}

.form-left{
  position: relative;
  flex-grow: 1;
  margin-right:1rem;
}

.form-right {
  a {
    text-decoration: none;
  }
}

.form-control{
  // background-color: transparent;
  // border: none;
  border-radius: 16px;
  box-shadow: 8px 8px 8px rgba(58, 58, 58, 0.2);
  width: 100%;
  &::placeholder{
    color:rgb(56, 56, 56);
    font-style: italic;
  }
}

#query{
  position: relative;
}
