.submit-form{
  flex: 4 1 auto;
}

.submit-button{
  flex: 1 1 auto;
  .button-form{
    position: relative;
    top:32px;
    left:20px;
    color: #20242C;
    background: #F9B63A;
    border-radius: 10px;
    border: 2px solid #F9B63A;
    font-weight: 700;
    padding:25%;

    &:hover {
      background: transparent;
      color: #F9B63A;
    }
  }
}

.container-form-post-feed {
  color: white;
  display: flex;
  width: 83%;
  margin: 0;
  border:solid;
  border-color:#F9B63A;
  opacity: 0.85;
  border-radius: 25px;
  padding:16px;
  border-style: groove;
}

.container-form-post-search{
  border: 2px solid #F9B63A;
  border-radius: 25px;
  padding:16px;
  border-style: groove;
  width: 50%;
  display: flex;
}

.container-search{
  justify-content:center;
}

.form-left{
  flex-grow: 1;
  margin-right:1rem;
}
