.form-home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    width: 35%;
    font-weight: bold;
    font-size: 3rem;
    padding: 0;
    margin: 0;
  }
}

.forms-style {
  width: 60%;

  input {
    background-color: rgba(white,0.1);
    color: white;
    border: 0;
    border-radius: 10px;

    &::placeholder {
      color: grey;
      font-style: none;
    }

    &:focus {
      background-color: rgba(white,0.1);
      color: white;
      box-shadow: none;
    }
  }

  textarea {
    background-color: rgba(white,0.1);
    color: white;
    border: 0;
    border-radius: 10px;

    &::placeholder {
      color: grey;
    }

    &:focus {
      background-color: rgba(white,0.1);
      color: white;
      box-shadow: none;
    }
  }
}

.forms-style-edit {
  width: 100%;

  input {
    background-color: rgba(white,0.1);
    color: white;
    border: 0;
    border-radius: 10px;

    &::placeholder {
      color: grey;
      font-style: none;
    }

    &:focus {
      background-color: rgba(white,0.1);
      color: white;
      box-shadow: none;
    }
  }

  form {
    width: 100%;
  }
}

.submit-form{
  width: 100%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.form-post-search-song {
  width: 100%;
  margin: 0;
  position: relative;

  form {
    padding: 0;
    height: 10%;
  }
}

.form-post-content {
  width: 100%;
}
