.modal-content{
  background-color: rgba($pourpre, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(24px);
  a{
    text-decoration: none;
    color:white;
  }
  a:hover{
    color:#F9B63A;
    font-weight: 500;
  }
  .yellow-button{
    position:absolute;
    bottom:11px;
    right:12px;
  }
}

.modal-body:-webkit-scrollbar {
  display: none;
}

.modal-title{
  text-align: center;
  color:white;
  justify-content: center;
    h1{
      font-size: 32px;
    }
}

.modal-header{
  border-bottom: none;
}

.modal-body{
  position:relative;
  padding: 0 1em;
  ul{
    list-style-type: none;
  }
}

.form-control{
  border-radius: 16px;
}
