.home-post-card-music {
  display: flex;
  flex-direction: column;
  width: 100%;

  a{
    text-decoration: none;
  }
}

.home-post-card {
  display: flex;
  // padding: 2vw;
  // background-color: rgba(68, 54, 67, 0.5);
  // border-radius: 20px;
  // margin: 5vh 0;
}

.home-post-card-avatar-nickname {
  display: flex;
  align-items: center;
  width: 30%;
  color: white;
  padding: 0 0 2vw 1vw;

  img {
    margin-right: 10%;
  }

  h4 {
    margin: 0;
  }
}

.home-post-card-infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1vw;


  .home-post-card-content-top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .home-post-card-cover {
      width: 20%;
      transition: ease 300ms;

      img {
        width: 100%;
      }
    }

    .home-post-card-title-artist {
      flex-grow: 1;
      color: #C5C7CD;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 1vw;

      p {
        margin: 0;
      }

      a {
        color: #C5C7CD;
        text-decoration: none;
        transition: ease 300ms;

        &:hover {
          color: white;
        }
      }
    }

    .post-card-play {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: rem;
        color: rgba(255, 255, 255, 0.7);
        transition: ease 300ms;
        margin-right: 2vw;

        &:hover {
          cursor: pointer;
          color: white;
          transform: scale(1.1);
        }
      }
    }
  }
}

.home-post-card-content-bottom {
  // display: flex;
  // justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: 1vw;

  p {
    text-align: justify;
    padding: 2vw;
    color: black;
  }
}

.home-post-card-interraction {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  color: #F9B63A;
  font-size: x-large;
  width: fit-content;

  i {
    margin-right: 2vw;
  }
}

.home-post-card-just-content {
  display: flex;
  flex-direction: column;
}
