.playlist-caroussel {
  height: 30vh;
  background-color: rgba($pourpre, 0.5);
  overflow-y: hidden;
  border-radius: 20px;
  backdrop-filter: blur(8px);
}

.row-playlist-carroussel {
  height: 100%;
  width: fit-content;
  display: flex;
  display: -webkit-flex;
}

::-webkit-scrollbar {
  display: none;
}

.playlist-carroussel-cover {
  position: relative;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
    transition: transform 450ms;
    padding: 1.5vh;
    border-radius: 20px;
  }

  .carroussel-playlist-info {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1% 2%;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
  }
}
