.player-controls {
  font-size: x-large;
  align-items: center;
  width: 50%;
  justify-content: space-between;

  .fa-play-circle {
    font-size: xx-large;
  }

  .fa-pause-circle {
    font-size: xx-large;
  }
}
