.sidebar {
  height: 100vh;
  width: 18vw;
  position: fixed;
  left: 3.5%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-content {
  width: 90%;
  background-color: rgba($pourpre, 0.5);
  backdrop-filter: blur(8px);
  padding: 2%;
  border-radius: 20px;
}

.siderbar-menu {
  height: 40vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  list-style: none;
  z-index: 999;

  .sidebar-logo {
    display: flex;
    height: 35%;
    margin: 0;
    text-align: center;
    align-items: flex-end;

    a {
      text-decoration: none;
      color: $yellow;
      transition: ease 300ms;
      width: 100%;
      justify-content: center;
      align-items: center;

      &:hover {
        transform: scale(1.02);
      }
    }

    img {
      width: 40%;
      border-radius: 10px;
    }
  }

  .sidebar-links {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
  }


}

.sidebar-player {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
