.sidebar {
  height: 100%;
  width: 17vw;
  background-color: beige;
}


.siderbar-menu {
  height: 440px;
  width: 100%;
  background-color: aquamarine;
  background-size: cover;
}

.sidebar-player {
  width: 100%;
  height: 300px;
  background-color: grey;
  background-size: cover;
}
