.sidebar {
  height: fit-content;
  max-height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  // left: 3.5%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sidebar-content {
  width: 90%;
  height: fit-content;
  background-color: rgba($pourpre, 1);
  backdrop-filter: blur(8px);
  padding: 10px;
  border-radius: 20px;
  display: flex;
}

.siderbar-menu {
  // height: 40vh;
  // flex-grow: 1;
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  list-style: none;
  z-index: 999;

  .sidebar-logo {
    display: flex;
    height: 35%;
    margin: 0;
    text-align: center;
    align-items: flex-end;

    a {
      text-decoration: none;
      color: $yellow;
      transition: ease 300ms;
      width: 100%;
      justify-content: center;
      align-items: center;

      &:hover {
        transform: scale(1.02);
      }
    }

    img {
      width: 40%;
      border-radius: 10px;
    }
  }

  .sidebar-links {
    height: 65%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
  }


}

.sidebar-player {
  width: 100%;
  height: fit-content;
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  color: white;
}

.player-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  // width: 60%;
  justify-content: center;
  align-items: center;
}

.player-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: start;
  align-items: start;
  margin: 0 15px;
}
