.user-card-link {
  a {
    text-decoration: none;
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  background-color: rgba($pourpre, 0.5);
  border-radius: 20px;
  margin: 5vh 0;
  width: 40%;
  transition: ease 300ms;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  a{
    text-decoration: none;
  }
}

.user-card-avatar-nickname {
  display: flex;
  align-items: center;
  color: white;

  img {
    margin-right: 10%;
  }

  h4 {
    margin: 0;
    margin-right: 10%;
  }
}
