.yellow-button {
  color: white;
  background: transparent;
  font-weight: 400;
  display: flex;
  width: 100%;
  // margin: 6px;
  text-decoration: none;

  a {
    text-decoration: none;
    color: white;
    padding: 6px;
    transition: ease 300ms;
    min-width: 100%;
    min-height: 100%;
    border-bottom: 2px solid transparent;

    &:hover {
      color: white;
      border-bottom: 2px solid white;
    }
  }

  &:hover {
    background: transparent;
    color: $yellow;
  }
}

.yellow-button-import {
  color: white;
  background: transparent;
  font-weight: 400;
  width: fit-content;
  border: none;
  border-bottom: 2px solid transparent;
  transition: ease 300ms;
  padding: 0;
  border-radius: 0;
  text-decoration: none;

  &:hover {
    color: white;
    border-bottom: 2px solid white;
  }

  a {
    text-decoration: none;
    color: white;
    transition: ease 300ms;
    padding: 0;
    border-radius: 0;

    &:hover {
      color: white;
      border: 2px solid white;
    }
  }

  &:hover {
    background: transparent;
    color: white;
  }
}

.yellow-button-lg {

  text-decoration: none;
  color: white;
  background: $yellow;
  border-radius: 10px;
  border: 2px solid $yellow;
  font-weight: 700;
  padding: 1vh 5vh;
  transition: ease 300ms;
  height: 5vh;
  width: 50%;

  &:hover {
    background: transparent;
    color: $yellow;
  }
}

input.yellow-button-lg {

  text-decoration: none;
  color: white;
  background: $yellow;
  border-radius: 10px;
  border: 2px solid $yellow;
  font-weight: 700;
  padding: 1vh 5vh;
  transition: ease 300ms;
  height: fit-content;
  width: 50%;

  &:hover {
    background: transparent;
    color: $yellow;
  }
}

button.yellow-button-lg-shaker {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  background: $yellow;
  border-radius: 10px;
  border: 2px solid $yellow;
  font-weight: 700;
  padding: 1vh 5vh;
  transition: ease 300ms;
  height: 8vh;
  width: 205%;

  &:hover {
    background: transparent;
    color: $yellow;
    animation-iteration-count: infinite;
    animation: shake 0.5s;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  &:disabled,
  &[disabled]{
  border: 1px solid #c9a157;
  background-color: #c9a157;
  // color: #99690f;
  color: #666666;
  animation: none;
  }
}

.yellow-button-shaker {
  color: white;
  background: transparent;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 700;
  display: flex;
  width: 100%;
  margin: 15px 0 0 0;
  text-decoration: none;

  image {
    margin: 7px
  }

  a {
    text-decoration: none;
    color: white;
    padding: 6px 6px 6px 5px;
    transition: ease 300ms;
    min-width: 100%;
    min-height: 100%;
    text-align: center;


    &:hover {
      background: transparent;
      color: white;
      animation-iteration-count: infinite;
      animation: shake 0.5s;

    }
    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); color: $yellow; }
      10% { transform: translate(-1px, -2px) rotate(-1deg); color: $yellow; }
      20% { transform: translate(-3px, 0px) rotate(1deg); color: $yellow; }
      30% { transform: translate(3px, 2px) rotate(0deg); color: $yellow; }
      40% { transform: translate(1px, -1px) rotate(1deg); color: $yellow; }
      50% { transform: translate(-1px, 2px) rotate(-1deg); color: $yellow; }
      60% { transform: translate(-3px, 1px) rotate(0deg); color: $yellow; }
      70% { transform: translate(3px, 1px) rotate(-1deg); color: $yellow; }
      80% { transform: translate(-1px, -1px) rotate(1deg); color: $yellow; }
      90% { transform: translate(1px, 2px) rotate(0deg); color: $yellow; }
      100% { transform: translate(1px, -2px) rotate(-1deg); color: $yellow; }
    }
  }
}
