.yellow-button {
  color: #20242C;
  background: #F9B63A;
  border-radius: 10px;
  border: 2px solid #F9B63A;
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: 170px;
  margin: 6px;
  text-decoration: none;


  a {
    text-decoration: none;
    color: #20242C;
    padding: 6px;
    transition: ease 300ms;
    min-width: 100%;
    min-height: 100%;
    text-align: center;

    &:hover {
      background: transparent;
      color: #F9B63A;
    }
  }



  &:hover {
    background: transparent;
    color: #F9B63A;
  }
}

.yellow-button-lg {
  text-decoration: none;
  color: #20242C;
  background: #F9B63A;
  border-radius: 10px;
  border: 2px solid #F9B63A;
  font-weight: 700;
  padding: 1vh 5vh;
  transition: ease 300ms;

  &:hover {
    background: transparent;
    color: #F9B63A;
  }
}
