.yellow-button {
  color: white;
  background: transparent;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  display: flex;
  width: 100%;
  margin: 6px;
  text-decoration: none;

  a {
    text-decoration: none;
    color: white;
    padding: 6px;
    transition: ease 300ms;
    min-width: 100%;
    min-height: 100%;

    &:hover {
      color: white;
      border-bottom: 2px solid white;
    }
  }

  &:hover {
    background: transparent;
    color: $yellow;
  }
}

.yellow-button-import {
  color: $yellow;
  background: transparent;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: 120%;
  margin: 6px;
  text-decoration: none;
  border: 2px solid transparent;

  &:hover {
    color: $yellow;
    border: 2px solid $yellow;
  }

  a {
    text-decoration: none;
    color: $yellow;
    padding: 6px;
    transition: ease 300ms;
    min-width: 100%;
    min-height: 100%;
    text-align: center;

    &:hover {
      color: $yellow;
      border: 2px solid $yellow;
    }
  }

  &:hover {
    background: transparent;
    color: $yellow;
  }
}

.yellow-button-lg {

  text-decoration: none;
  color: white;
  background: $yellow;
  border-radius: 10px;
  border: 2px solid $yellow;
  font-weight: 700;
  padding: 1vh 5vh;
  transition: ease 300ms;
  height: 5vh;
  width: 50%;

  &:hover {
    background: transparent;
    color: $yellow;
  }
}

input.yellow-button-lg {

  text-decoration: none;
  color: white;
  background: $yellow;
  border-radius: 10px;
  border: 2px solid $yellow;
  font-weight: 700;
  padding: 1vh 5vh;
  transition: ease 300ms;
  height: fit-content;
  width: 50%;

  &:hover {
    background: transparent;
    color: $yellow;
  }
}

input.yellow-button-lg-shaker {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  background: $yellow;
  border-radius: 10px;
  border: 2px solid $yellow;
  font-weight: 700;
  padding: 1vh 5vh;
  transition: ease 300ms;
  height: 8vh;
  width: 205%;

  &:hover {
    background: transparent;
    color: $yellow;
  }
}

.yellow-button-shaker {
  color: white;
  background: transparent;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 700;
  display: flex;
  width: 100%;
  margin: 6px;
  text-decoration: none;

  image {
    margin: 7px
  }


  a {
    text-decoration: none;
    color: white;
    padding: 6px 6px 6px 5px;
    transition: ease 300ms;
    min-width: 100%;
    min-height: 100%;
    text-align: center;

    &:hover {
      background: transparent;
      color: $yellow;
    }
  }

  &:hover {
    background: transparent;
    color: $yellow;
    border: 2px solid $yellow;
  }
}
