<div class="shaker-header">
  <div>shaker-logo</div>
</div>

<div class="shaker-content">
  <div class="shaker-content-buddies">
    <h1>Add your buddies:</h1>
    <<%= simple_form_for(buddies) do |f| %>
  <%= f.input :Nickname %>
  <%= f.submit %>
<% end %>
  </div>
  <div class="shaker-content-ingredients">
  </div>
  <div class="shaker-content-confirm">
    bouton confirm
  </div>
</div>

<h1>Here's your mix!</h1>

<%= render 'shared/playlist' %>
