<div class="container-right-part">


  <div class="card-bg">
    <div class="form-home">
      <h2>Here's your common tastes</h2>

      <div class="forms-style">
      <p>Please choose some style from your common tastes, to create your shaker:</p>
        <div class="submit-form">
          <%= form_tag shaker_path(user_id: params[:user_id]), method: :post, autocomplete: "off", :class => 'container-form-ingredient' do %>
            <div class="ingredients">
              <% @ingredients.first(10).each do |genre| %>
                <label class='ingredient'>
                  <%= check_box_tag 'ingredients[]',
                                    genre,
                                    class: "form-control",
                                    checked: 'off'
                  %>
                  <div class="label-ingredient"><%= genre.capitalize %></div>
                </label>
              <% end %>
              <%= submit_tag "Shake it up!", class: "btn yellow-button-lg mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



</div>
